/*
 * Copyright (c) 2024 Semtech Corporation
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
    aliases {
        smtc-hal-uart = &uart0;
        smtc-watchdog = &wdt;
        smtc-user-button = &button0;
    };
};
